<div class="page-outer <%= classes %> container">  
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-info pull-right close-page">X</button>
    </div>          
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="page-inner">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">         
              <div class="placeholder-content">
                Loading...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
