<div class="container-fluid">
  <div class="row filter-top">
    <div class="col-sm-12">      
      <div class="filter-top-icon">
        <span class="icon-icon_filter"></span>
      </div>
      <h4><%= t.filters.name%></h4>
      <h1><%= t.filters.title %></h1>
      <div class="pull-right filter-top-buttons">
        <div class="btn btn-primary btn-round query-reset visible-filtered">
          <%= t.filters.reset %>
        </div>        
        <div class="btn btn-info btn-round expand-all hidden-expanded">
          <%= t.filters.all_filters %><span class="icon-icon_filter-open"></span>
        </div>
        <div class="btn btn-info btn-round expand-all visible-expanded ">
          <%= t.filters.default_filters %><span class="icon-icon_filter-close"></span>
        </div>
      </div>
    </div>         
  </div>      
  <div class="row filter-main">
    <div class="col-sm-12">
      <form>      
        <div class="form-search">          
          <%= search %>
        </div>          
        <% _.each(columnGroups,function(group){ %>
        <div class="form-group <%= group.classes %> well">          
          <h4><%= group.title %></h4>
          <ul class="list-unstyled">
            <% _.each(group.groupFilters,function(filter){ %>
            <% if (filter) { %>
            <li class="clearfix li-filter column-filter">
              <%= filter %>
            </li>
            <% } %>
            <% }) %>
          </ul>
          <div class="pull-right group-bottom-buttons">
            <% if (group.groupReset) { %>
            <div class="btn btn-primary btn-round query-group-reset" data-group="<%= group.id %>">
              <%= t.filters.reset_group %> 
            </div>          
            <% } %>              
            <div class="btn btn-info btn-round expand-group hidden-expanded-group" data-group="<%= group.id %>">
              <%= t.filters.all_group_filters %><span class="icon-icon_filter-open"></span> 
            </div>
            <div class="btn btn-info btn-round expand-group visible-expanded-group" data-group="<%= group.id %>">
              <%= t.filters.default_group_filters %><span class="icon-icon_filter-close"></span>
            </div>                  
          </div>         
        </div>         
        
        <% }) %>        
        <button type="submit" class="sr-only btn btn-info btn-round btn-query-submit query-submit pull-right">
          <%= t.filters.button_submit %>
        </button>        
      </form>  
    </div>
  </div>
</div>