<label for="<%= column_min %>"><%= title %></label>
<div class="row">
  <div class="col-sm-6">
    <input type="text"
      class="form-control column-filter-text" 
      data-column="<%= column_min %>"      
      id="text-<%= column_min %>" 
      placeholder="<%= title_min %>" 
      value="<%= value_min %>">   
  </div>
  <div class="col-sm-6">    
    <input type="text"
      class="form-control column-filter-text" 
      data-column="<%= column_max %>"      
      id="text-<%= column_max %>" 
      placeholder="<%= title_max %>" 
      value="<%= value_max %>">   
  </div>
</div>
