#filters {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right:0;
  width: auto;  
  background-color: #ffffff;
}
@media (min-width: 769px) {
  #filters {    
    width: 50%;
    right:auto
  }
}
@media (min-width: 1068px) {
  #filters {    
    width: 500px;
  }
}