.expanded-group .hidden-expanded-group,
.visible-expanded-group,
.expanded .hidden-expanded,
.visible-filtered,
.visible-expanded {
  display:none
}
.expanded-group .visible-expanded-group,
.filtered .visible-filtered,
.expanded .visible-expanded {
  display:inline-block
}

.btn-group {
  display:block;
}

.li-filter{
  margin-bottom:20px
}
.filter-button {
  white-space: normal;
}

.form-group.well h3 {
    text-align: right;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-group.well .expand-group {
    float: right;
}

.filter-top-buttons{
  padding-right:19px;
  padding-bottom:19px;
}

.btn-query-submit {
  margin:19px;
}

.column-filter-min-max input {
  text-align:right;
}


.column-filter-min-max-slider .filter-input-fields input {
    width: 100px;
    text-align: center;
}

.filter-slider {
    position: relative;
    margin: 12px 2px;
}
.column-filter-min-max-slider {
    position: relative;
}
.filter-slider-wrap{
    padding: 0 0 32px;
}

.noUi-pips-horizontal{
  height:50px
}
.noUi-value-horizontal{
  line-height:1.75
}

.noUi-handle {
    border-radius: 999px;
    width: 22px !important;
    left: -11px !important;
    top: -7px !important;
    height: 22px !important;
    box-shadow: 0 3px 6px -3px #BBB;
}
.noUi-handle:before, .noUi-handle:after {
    display: none;
}
.noUi-horizontal {
    height: 12px;
}

.noUi-connect {
  background: #5bc0de;
}
.slider-inactive .noUi-connect {
  background: #ddd;
}

.noUi-pips-horizontal {
  padding-bottom:5px
}