
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2>Filters</h2>
      <div class="btn btn-default expand-all hidden-expanded">+ More filter options </div>
      <div class="btn btn-default expand-all visible-expanded">- Less filter options</div>
      <div class="btn btn-default query-reset visible-filtered">Reset</div>
      <form>      
        <% _.each(attributeGroups,function(group){ %>
        <div class="form-group <%= group.classes %>">          
          <h3><%= group.title %></h3>
          <p><%= group.hint %></p>
          <ul class="list-unstyled">
            <% _.each(group.groupFilters,function(filter){ %>
            <% if (filter) { %>
            <li>
              <%= filter %>
            </li>
            <% } %>
            <% }) %>
          </ul>
          <div class="btn btn-default expand-group hidden-expanded-group" data-group="<%= group.id %>">
            +
          </div>
          <div class="btn btn-default expand-group visible-expanded-group" data-group="<%= group.id %>">
            -
          </div>          
        </div>          
        
        <% }) %>        
        <button type="submit" class="btn btn-default query-submit">Submit</button>        
      </form>  
    </div>
  </div>
</div>