.expanded-group .hidden-expanded-group,
.visible-expanded-group,
.expanded .hidden-expanded,
.visible-filtered,
.visible-expanded {
  display:none
}
.expanded-group .visible-expanded-group,
.filtered .visible-filtered,
.expanded .visible-expanded {
  display:inline-block
}

.btn-group {
  display:block;
}

.li-filter{
  margin-bottom:20px
}
.filter-button {
  white-space: normal;
}

.form-group.well h3 {
    text-align: right;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.form-group.well .expand-group {
    float: right;
}

.filter-top-buttons{
  padding-right:19px;
  padding-bottom:19px;
}

.btn-query-submit {
  margin:19px;
}