/* #navTemplate */

#nav {
  position:absolute;
  right:0;  
  top:0;    
  left:0;
  bottom:auto;
  height: 50px;
  width: 100%;  
}

@media (min-width: 769px) {
  
}

/*typography, #nav links & buttons*/
#nav a,
#nav a:focus{
  display:block;
  text-decoration:none;
  color:#fff;
  font-weight:normal;
}  
#logo a {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  padding: 5px;
}
@media (min-width: 769px) {
  #logo a  {
    width: 114px;
    height: 104px;
    padding: 19px 17px 5px;
  }
}

/*title*/

#title a {
  
    padding: 10px 2px;
    height: 60px;
    width: 120px;
}
#title h1 {
  font-size: 16px;
  line-height: 1.25;  
  font-family: 'kelsonmedium';
  margin:0;
}
#nav #title a.home-link{
    display: inline-block;
}


@media (min-width: 769px){
  #title {
    margin-bottom: 20px;
  }
  #title a {
    padding:5px 8px;
    height: auto;
    width: auto;
  }
  #title h1 {
    line-height: 1.15;  
    letter-spacing: 2px;
    font-size: 24px;
  }
  #nav .link-list-wrapper{
  }
}


/*bootstrap override*/




/* navbar */















/* navbar collapse */





#nav .collapsed .hide-on-collapsed {
  display: none;
}

#nav .show-on-collapsed {
  display: none;
}

#nav .collapsed .show-on-collapsed {
  display: block;
}
