
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">      
      <a href="#" title="<%= t.app.ui.close %>" class="btn btn-info pull-right close-record">X</a>       
      <h4><%= t.record.name %></h4>
      <h2><%= t.record.title %> <%= recordid %></h2>     
    </div>          
  </div>          
  <div class="row">
    <div class="col-sm-12">
    <div class="well">
        <% _.each(columnGroups,function(group){ %>
      <div class="group <%= group.classes %>">          
        <h3><%= group.title %></h3>
        <div class="record-columns"> 
        <% _.each(group.groupColumns,function(column){ %>
        <% if (column) { %>                          
            <%= column %>          
        <% } %>
        <% }) %>
        </div>
      </div>                  
        <% }) %>       
    </div>
    </div>
  </div>
</div>