#record {
    overflow: hidden;
      display:none;
    
}

.record-top {
  padding:10px 15px 20px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #f5f6f6;
  height:150px;
}
.record-top h4{
  margin: 0
}
.record-top h1{
  margin-top: 2px;
}

.record-top-menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 15px;
}

a.record-top-menu-link {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #808990;
  padding: 0 5px;
}

.record-top-menu li:first-child a.record-top-menu-link {
    padding-left: 0;
}

a.record-top-menu-link.active,
a.record-top-menu-link:hover{
  color: #0293c9;
  text-decoration:none;
}


.close-record {
    float: right;
    position: relative;    
    top: -10px;
}

.record-main {
    padding-top: 30px;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}


.record-main .column-title {
  font-weight:bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
}
.record-main .group-other {
  font-size: 12px;
}

.record-main .group-other .column-title {
  margin-bottom:20px
}



.record-main {
  padding-top: 30px;
}

#record .group h3 { 
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
}

#record .record-column{
  border-top:1px solid #F2F3F4;
  padding: 10px 0;
}
#record .record-column:first-child{
  border-top:1px solid;
  padding: 10px 0
}

