
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-info pull-right close-record">X</button>
      <h2>Record <%= recordid %></h2>     
    </div>          
  </div>          
  <div class="row">
    <div class="col-sm-12">
        <% _.each(attributeGroups,function(group){ %>
      <div class="group <%= group.classes %> well">          
        <h3><%= group.title %></h3>
        <ul class="list-unstyled">
          <% _.each(group.groupAttributes,function(attribute){ %>
          <% if (attribute) { %>
          <li class="clearfix li-attribute">
            <%= attribute %>
          </li>
          <% } %>
          <% }) %>
        </ul>         
      </div>                  
        <% }) %>       
    </div>
  </div>
</div>