@import url("./bootstrap.css");
@import url("./leaflet.css");
@import url("./leaflet.rrose.css");
@import url("./leaflet.draw-src.css");
@import url("./select2.css");
@import url("../../app/components/app/app.css");
@import url("../../app/components/app/nav/nav.css");
@import url("../../app/components/app/filters/filters.css");
@import url("../../app/components/app/record/record.css");
@import url("../../app/components/app/out/out.css");
@import url("../../app/components/app/out/map/map.css");
@import url("../../app/components/app/out/map/mapControl/mapControl.css");
@import url("../../app/components/app/out/map/mapPlot/mapPlot.css");
@import url("../../app/components/app/out/table/table.css");
@import url("../../app/components/app/page/page.css");

.loading-animation {
  background: url('../img/loading.gif') no-repeat top left;
  background-size: 100% 2px;
  display:block;
  position:absolute;
  left: 0;
  top: 0;  
  width: 100%;
  height: 2px;  
}