/* ==========================================================================
   Author's custom styles
   ========================================================================== */


a.hover {
  text-decoration:underline
}


/* show-on-hover */
.reveal-on-hover {
  position: relative;
}
.reveal-on-hover:hover .hide-on-hover, 
.reveal-on-hover .show-on-hover {
  display:none;
}


.show-on-hover.show-hover,
.reveal-on-hover:hover .show-on-hover {
  display:block;
}
.acs .show-on-asc.show-on-asc-inline,
.active .show-on-active.show-on-active-inline,
.show-on-hover.show-on-hover-inline.show-hover,
.reveal-on-hover:hover .show-on-hover.show-on-hover-inline {
  display:inline-block;
}
/* show-on-active */
.active .hide-on-active,
.show-on-active {
  display:none;
}
.active .show-on-active{
  display:block;
}
.asc .hide-on-asc,
.show-on-asc {
  display:none;
}
.asc .show-on-asc{
  display:block;
}



.list-open .show-on-close,
.show-on-open {
  display:none
}
.show-on-close,
.list-open .show-on-open {
  display:block
}


.reveal-on-hover:hover .reveal-on-hover .hide-on-hover {
    display: block;
}
.reveal-on-hover:hover .reveal-on-hover .hide-on-hover.hide-on-hover-inline {
    display: inline-block;
}








#application {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #F2F3F4;
}
.content-bottom,
.content-full,
.content-scroll{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.content-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  /*z-index: 3500;*/
}
@media(max-width:768px){
.content-scroll-xs{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;  
  overflow-y: auto;
  overflow-x: hidden;
  /*z-index: 3500;*/
}
}

.content-container{
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  clear: both;
}

.content-bottom {
  top:auto
}

@media(min-width: 769px) {
  
  .content-bottom {
    bottom:20px;
    left:200px
  }
}



@media(min-width: 769px) {
  
  
  .content-full {
    position: absolute;
    top: 0;
    right:0;
    left: auto;
  }
  .content-full {
    left:0;
  }
  .content-scroll {
    /*z-index: 150;*/
  }

}


.strong {
    font-weight: bold;
}



.component-left {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right:0;
  width: auto;  
  overflow: auto;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);  
  z-index: 1000;
}
@media (min-width: 769px) {
  .component-left {    
    width: 50%;
    right:auto
  }
}
@media (min-width: 1068px) {
  .component-left {    
    width: 500px;
  }
}


.panel-dark {
    background: #19313f;
    color: #fff;    
}
.share-outer {
    position: relative;
    z-index: 10000;
    padding:50px;
    top:60px
}

h1, h2, h3, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight:600;
}

h5, .h5 {
    font-size: 17px;
    margin-bottom: 20px;
}

h6, .h6 {
    font-size: 14px;
    margin-top: 20px;
}

h4 {
  color: #848D93;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}


.btn-round {
  border-radius: 9999px;
  padding: 2px 12px;
  font-size: 12px;
  line-height: 1.5;
}

.btn{
  position: relative;
}
.btn.sr-only{
  position: absolute;
}
.btn .icon-icon_filter-close,
.btn .icon-icon_filter-open {
   margin-right: -10px;
   margin-top: -1px;
}

.tooltip-inner {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.3);
    padding: 5px 8px;
    color: inherit;
}
.tooltip-inner div{
  font-style: italic;
  color:#848D93;
}

.tooltip.top {
    margin-top: 0px;
}

.btn-default {
    color: #1e3948;
    background-color: #F2F3F4;
    border-color: #E9EBED;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #007FAD;
  border-color: #0078a3;
}
.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow:none
}
.btn-default:active:hover, 
.btn-default.active:hover, 
.open > .dropdown-toggle.btn-default:hover, 
.btn-default:active:focus, 
.btn-default.active:focus, 
.open > .dropdown-toggle.btn-default:focus, 
.btn-default:active.focus, 
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #fff;
    background-color: #0078a3;
    border-color: #0078a3;
}


.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #97a2a8;
}


.list-unstyled {
    margin-bottom: 0;
}

.hint {
    color: #848D93;
    font-size: 85%;
}
#share h3 {
    margin-bottom: 50px;
}
#share h5 {
    margin-bottom: 40px;
}
a.close-share {
    position: absolute;
    right: 50px;
    top: 50px;
}
#share .btn:first-child {
    margin-right: 30px;
}
#share .btn {
    font-size: 14px;
    font-weight: 600;
    min-width: 120px;
    padding: 4px 0px 2px;
}

.form-control.form-control-share {
    background: #172630;
    border: none;
    color: #0293c9;
    border-radius: 3px;
    font-size: 14px;
    max-width: 300px;
    margin: 0 auto;
}

#share hr {
    border-color: #182B37;
    margin: 50px 0;
}